
.example-button-row{
  
    width: 400px;
    background: #004d9b;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.input{
    width: 450px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    background: #0be6c2ce;
    border-radius: 4px;
}